@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

blockquote {
	border-left: 5px solid gray;
	margin: 1rem 0;
	padding-left: 1rem;
}

mark {
	background-color: aquamarine;
	border-radius: 5px;
	padding: 3px;
}
